@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&display=swap');

:root {
  --color-1: #0f0021;
  --color-2: #00002c;
  --color-3: #fcb045;
  --color-4: #23d18b;
  --color-5: #29b8db;
  --color-6: #03a4cd;

/* 
  --color-8: rgb(117, 79, 229);
  --color-9: rgb(165, 72, 196);
  --color-7: rgb(213, 65, 162); */


  --story-line: linear-gradient(to right, var(--color-3), var(--color-4));
}

::-webkit-scrollbar{
  display: none;
}

div{
  font-weight: 100;
}

#article span{
  all: unset !important;;
}

* {
  font-family: Fira Code!important;
  letter-spacing: 0;
  font-weight: 600;
}


body {
  /* background-image: linear-gradient(140deg, rgb(207, 47, 152), rgb(106, 61, 236)); */
  background-color: var(--color-1);
  color: var(--color-5)!important;
}

.aside {
  /* background-image: linear-gradient(140deg, rgb(207, 47, 152), rgb(106, 61, 236)); */
  background-color: var(--color-1);
  background: transparent;
  height: 100vh;
  order: 1;
}

.sidebar-sticky {
  /* background-image: linear-gradient(140deg, rgb(207, 47, 152), rgb(106, 61, 236)); */
  background-color: var(--color-1);
}


#sidebarMenu {
  background-color: var(--color-1);
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
  
}

.sidebar {
  background-color: var(--color-1);
}

.nav-div {
  background-color: var(--color-2);
  font-size: 20px;
  margin: auto;
}

.nav a {
  color: var(--color-5);
}
textarea:focus, select:focus{
  border: none;
  outline: none;
}
.type-select{
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color-2);
  color: var(--color-5);
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 10px;
}
#file{
  display: none;
}
label[for="file"]{
  background-color: var(--color-2);
  color: var(--color-5);
  padding: 50px;
  border-radius: 20px;
  border: 2px dashed var(--color-5);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 60%;
  margin: auto;
}
.nav-div svg {
  margin-right: 15px;
}

a:hover {
  text-decoration: none;
  color: var(--color-4);
}

.on-hover-green:hover {
  color: var(--color-4);

}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image svg {
  width: 30rem;
  height: 200px;
  margin: 20px auto;
}

.links a {
  font-size: 20px;
  color: var(--color-5);
  font-weight: 900;
}

.main {
  border-left: 2px solid var(--color-5);
  border-right: 2px solid var(--color-5);
  margin: 0;
  order: 2;
}

.raside {
  order: 3;
}

.links {
  height: 5rem;
  border-bottom: 2px solid var(--color-5);
  margin: 0;
}

.green {
  background-color: var(--color-4);
  height: 3px;
  margin: 0 auto;
  width: 70%;
  border-radius: 2px;
  display: none;
}

.links a:hover .green {
  display: block;
}

.links a:hover {
  text-decoration: none;
}

.input-group-append button {
  margin: 0;
  border: none;
  outline: none;

  &:hover {
      background-color: var(--color-2);
  }

  &:focus {
      box-shadow: none;
  }

  &:active svg {
      background-color: var(--color-2);
      box-shadow: none;
      color: var(--color-4);
  }
}

.input-group input {
  margin: 10px auto;
  border: none;
  background-color: var(--color-2);
  margin: 0;
  width: 80%;
  padding: 10px;
  outline: none;
  color: var(--color-5);

  &::placeholder {
      color: var(--color-5);
  }
}

.input-group input:focus {
  outline: none !important;
  color: var(--color-5);
  box-shadow: none;
  /* Add this line to remove box shadow */
  background: var(--color-2);
  border: none;
}

.input-group {
  background-color: var(--color-2);
  border: 1px solid var(--color-5);
  border-radius: 20px;
  width: 95%;
  margin: auto;
}

.main-body {
  height: 90vh;
  margin: auto;
  overflow-y: scroll;
  padding: 20px;
}

.main-body::-webkit-scrollbar {
  display: none;
}

.message-box::-webkit-scrollbar {
  display: none;
}

.profile {
  background: var(--color-2);
  color: var(--color-5);
  text-align: center;
  border-radius: 15px !important;
}

.tog-butn{
  display: none;
}

.profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 20px auto;
  border: 2px solid var(--color-4);
}

.profile p {
  font-size: 15px;
}

.support-button {
  background-color: var(--color-1);
  border: 2px solid var(--color-5);
  border-radius: 50%;
  color: var(--color-4);
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
      background-color: var(--color-2);
      color: var(--color-4);
  }
}

@media screen and (max-width: 1400px) {
  .nav-div {
      font-size: 15px;
  }
  .main-image svg{
    width: 350px;
    height: 160px;
  }
}

@media screen and (max-width: 1200px) {
  .nav-div {
      font-size: 13px;
  }
  .main-image svg{
    width: 300px;
    height: 140px;
    margin: 0;
  }
}

@media screen and (max-width: 1100px) {
  .nav-div svg {
      width: 15px;
      margin-right: 5px;
  }
  .main-image svg{
    width: 250px;
    height: 120px;
  
  }
}

@media screen and (max-width: 1010px) {
  .nav-div {
      font-size: 13px;
      width: 100%;
  }
  .main-image svg{
    width: 200px;
    height: 100px;
  }
}

@media screen and (max-width: 767px) {

  .aside,
  .sidebar-sticky {
      all: unset;
  }
  .main-image svg{
    width: 200px;
    height: 100px;
  }
  .tog-butn{
    display: block;
  }
  .aside{
    width: 100vw;
    height: 100%;
  }
  .navbar-mobile{
    display: block;
  }
  .main {
      border-left: none;
      border-right: none;
      order: 3;
  }

  .raside {
      display: none;
  }

  .screen {
      flex-direction: column;
      align-items: center;
  }

  .main-image {
      width: 35%;
      margin: 0 10px;
      margin-bottom: 0 !important;
  }

  .main-body {
      height: 78.5vh;
      padding: 0;
      margin: 0;
  }

  .nav-div {
      width: 100%;
      margin: auto;
      text-align: center;
      font-size: 20px;
  }

  #sidebarMenu {
      border-radius: 0;
  animation: fadeIn 1s;

  }


  .links a {
      font-size: 15px;
  }

  .raside {
      border-left: none;
  }

  .green {
      width: 50%;
      height: 2px;
      border-radius: 2px;
  }

  .post{
      width: 100vw;
      /* margin: 10px; */
      margin-top: 15px!important;
      padding: 10px!important;
  }
  .post >p{
      font-size: 12px;
      width: 100%;
      margin-top: 15px!important;
  }

  .prm-btn{
    background-color: var(--color-5);
    padding: 10px;
  }

  .writing-pad * {
    font-weight: 100;
  }

  textarea{
    resize: vertical;
  }

  .navbar-toggler {
      color: var(--color-5);
      background-color: var(--color-1);
      /* border: 2px solid var(--color-5) !important; */
      border-radius: 7px;
      outline: none;
  }
  .top-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .nav-div svg {
      width: 20px;
      margin-right: 5px;
  }

  .links {
      height: 3rem;
  }

  .not-in-mobile {
      display: none;
  }

}
@media only screen and (max-width:420px){
  .user-data h3{
    font-size: 20px;
  }
}